<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>로그 관리</title>
    <th:block th:replace="fragments/head :: common-head"></th:block>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<main class="d-flex flex-nowrap">
    <div th:replace="fragments/sidebar :: sidebar"></div>
    <div class="content p-4 main-contents" style="overflow-y: scroll">
        <p class="table_name"> 접속로그</p>
        <table style="width:100%">
            <tr>
                <th class="col-1" scope="col" style="height: 50px;">NO</th>
                <th class="col-1" scope="col" style="height: 50px;">접속자</th>
                <th class="col-1" scope="col" style="height: 50px;">ACT</th>
                <th class="col-1" scope="col" style="height: 50px;">PATH</th>
                <th class="col-1" scope="col" style="height: 50px;">접속시간</th>
            </tr>
            <tr>
                <td style="height: 50px;"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td style="height: 50px;"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td style="height: 50px;"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td style="height: 50px;"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td style="height: 50px;"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td style="height: 50px;"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td style="height: 50px;"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td style="height: 50px;"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td style="height: 50px;"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</main>
</body>

</html>