<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>메인 페이지</title>
  <th:block th:replace="fragments/head :: common-head"></th:block>
  <style>
    .header-container {
      display: flex;
      align-items: center;
    }

    #datepicker-container {
      display: flex;
      align-items: center;
    }

    #datepicker {
      margin-right: 10px; /* Datepicker 오른쪽 여백 설정 */
    }

    .search-button {
      border: 1px solid red;
      background-color: transparent;
      color: red;
      padding: 3px 12px;
      cursor: pointer;
      border-radius: 5px; /* 모서리를 10픽셀만큼 둥글게 설정 */
    }

    .chart-container {
      flex: 1;
      padding: 0 10px;
      margin-top: 20px; /* 추가된 차트와 "Dash Board" 사이의 간격 조정 */
    }
  </style>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <script>
    $( function() {
      $( "#datepicker" ).datepicker();
    } );

    // 추가된 JavaScript: 검색 버튼 클릭 시 datepicker를 열도록 설정
    $( function() {
      $( ".search-button" ).click( function() {
        $( "#datepicker" ).datepicker( "show" );
      });
    });
  </script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<main class="d-flex flex-nowrap">
  <div th:replace="fragments/sidebar :: sidebar"></div>
  <div class="content p-4 main-contents" style="overflow-y: scroll">
    <div class="header-container">
      <h1 style="color: red; font-size: 24px;">Dash Board</h1>
      <div id="datepicker-container">
        <input type="text" id="datepicker">
        <button class="search-button" type="button">검색</button>
      </div>
    </div>

    <div style="display: flex; justify-content: space-between; max-width: 100%;">

      <!-- 첫 번째 차트 -->
      <div class="chart-container">
        <canvas id="myChart1" style="max-width: 100%;"></canvas>
      </div>

      <!-- 두 번째 차트 -->
      <div class="chart-container">
        <canvas id="myChart2" style="max-width: 100%;"></canvas>
      </div>

      <!-- 3 번째 차트 -->
      <div class="chart-container">
        <canvas id="myChart3" style="max-width: 100%;"></canvas>
      </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const data1 = {
          labels: [
            '진행율',
            '미진행율',
          ],
          datasets: [{
            label: '관리체제 수립 및 운영',
            data: [80, 20],
            backgroundColor: [
              'rgb(255, 99, 132)',
              'rgb(141,138,138)',
            ],
            hoverOffset: 4,
          }]
        };

        const config1 = {
          type: 'doughnut',
          data: data1,
          options: {
            cutout: 80, // 도넛의 두께를 조절하는 옵션(숫자가 높을수록 얇음)
            plugins: {
              title: {
                display: true,
                text: '관리체제 수립 및 운영',
                font: {
                  size: 16
                }
              },
              legend: {
                position: 'bottom'
              }
            },
            animation: false //애니메이션 설정
          }
        };

        const data2 = {
          labels: [
            '진행율',
            '미진행율',
          ],
          datasets: [{
            label: '보호대책 요구사항',
            data: [90, 10],
            backgroundColor: [
              'rgb(255, 205, 86)',
              'rgb(141,138,138)',
            ],
            hoverOffset: 4
          }]
        };

        const config2 = {
          type: 'doughnut',
          data: data2,
          options: {
            cutout: 80, // 도넛의 두께를 조절하는 옵션(숫자가 높을수록 얇음)
            plugins: {
              title: {
                display: true,
                text: '보호대책 요구사항',
                font: {
                  size: 16
                }
              },
              legend: {
                position: 'bottom'
              }
            },
            animation: false //애니메이션 설정
          }
        };

        const data3 = {
          labels: [
            '진행율',
            '미진행율',
          ],
          datasets: [{
            label: '개인정보 처리단계별 요구사항',
            data: [72, 28],
            backgroundColor: [
              'rgb(149,239,131)',
              'rgb(141,138,138)',
            ],
            hoverOffset: 4
          }]
        };

        const config3 = {
          type: 'doughnut',
          data: data3,
          options: {
            cutout: 80, // 도넛의 두께를 조절하는 옵션(숫자가 높을수록 얇음)
            plugins: {
              title: {
                display: true,
                text: '개인정보 처리단계별 요구사항',
                font: {
                  size: 16
                }
              },
              legend: {
                position: 'bottom'
              }
            },
            animation: false //애니메이션 설정
          }
        };

        var ctx1 = document.getElementById('myChart1').getContext('2d');
        new Chart(ctx1, config1);

        var ctx2 = document.getElementById('myChart2').getContext('2d');
        new Chart(ctx2, config2);

        var ctx3 = document.getElementById('myChart3').getContext('2d');
        new Chart(ctx3, config3);
      });
    </script>

  </div>
</main>
</body>
</html>
