<div th:fragment="header" class="header" style="background: #FB4753;">
    <div class="section" style="align-items: center;">
        <div class="logo">
            <a href="/"><img src="/images/logo.svg" alt="logo"></a>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background: #FB4753; border: none; font-size: 13px">
                <span>임직원 이름</span>
            </button>
        </div>
    </div>
</div>
